.color1 {
  background-color: #4b0082;
}

.color2 {
  background-color: #8B008B;
}

.color3 {
  background-color: #8A2BE2;
}


.color4 {
  background-color: #FF00FF;
}

.color5 {
  background-color: #FF69B4;
}

.color6 {
  background-color: #DC143C;
}

.color7 {
  background-color: #FF4500;
}

.color8 {
  background-color: #FFA500;
}

.color9 {
  background-color: #FFD700
}
