body {
  background-color: #31343A;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 12vh;
  margin: 5vh;
  color:magenta;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  font-size: 8vh;
  margin: 2vh;
  margin-top: 20vh;
  border-bottom: 5px double lightskyblue;
  color:palegreen
}

h3 {
  font-family: 'Architects Daughter', cursive;
  font-size: 8vh;
  margin: 8vh;
  color: white;
  text-shadow: 2px 2px black;
}

p {
  font-family: 'Baloo 2', cursive; 
  font-size: 6vh;
  margin: 5vh;
  text-align: justify;
  color:mediumslateblue;
}

.hidden {
  display: none;
}

.placeholder {
  height: 60vh;
}

.radio span {
  margin-left: 1vw;
  font-size: 2vh;
  font-family: 'Baloo 2', cursive;
  font-size: 6vh;
  color:turquoise
}

.checkbox span {
  margin-left: 1vw;
  font-size: 2vh;
  font-family: 'Baloo 2', cursive;
  font-size: 6vh;
  color:turquoise
}

.colorSelector input[type=radio] {
    display: none;
}

.colorSelector input[type=radio] + label.btn {
  height: 50px;
  width: 50px;
  margin: 3px;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 3px 0 black;
  border-radius: 15px;
  box-sizing: border-box;
} 

.colorSelector input[type=radio]:checked + label.btn {
  border: 2px solid black;
}

button[type=submit] {
  height: 70px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: whitesmoke;
  margin-top: 50px;
  border: 2px solid chartreuse;
  background-color: green;
  box-shadow: 0 0 3px 0 black;
  border-radius: 15px;
  box-sizing: border-box;
}

.result {
  font-size: 12vh;
  text-transform: uppercase;
  color:white;
  font-family: 'Architects Daughter', cursive;
  margin: 8vh;
  color: white;
  text-shadow: 2px 2px black;
}